@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Readme File</h1>
    <br />
    <div>
        <h3># Introduction</h3>
        <p>
            TODO: Give a short introduction of your project. Let this section explain the objectives or the motivation behind this project.
        </p>
    </div>
    <br />
    <div>
        <h3># Getting Started</h3>
        <p>
            TODO: Guide users through getting your code up and running on their own system. In this section you can talk about:
        </p>
        <ol>
            <li>Installation process</li>
            <li>Software dependencies</li>
            <li>Latest releases</li>
            <li>API references</li>
        </ol>
    </div>
    <br />
    <div>
        <h3># Build and test</h3>
        <h4>Postman Test</h4>
        <p>The following is a simple guideline to run the tests:</p>
        <ul>
            <li><u>GetById</u>: set in the Request url bar the Id of the entity to get;</li>
            <li><u>GetList</u>: just send the request to run the test;</li>
            <li><u>Edit</u>: set in the Request url bar the Id of the entity to edit and check the corrispondence between the hand setted Id and the parameter &quot;Id&quot; in the body of the request;</li>
            <li><u>Save</u>: just send the request to run the test, using the json in the body;</li>
            <li><u>Delete</u>: set in the Request url bar the Id of the entity to delete;</li>
            <li><u>DeleteByEntity</u>: just send the request to run the test, using the json in the body.</li>
        </ul>
        <br />
        <p>
            TODO: Describe and show how to build your code and run the tests.
        </p>
    </div>
    <br />
    <div>
        <h3># Contribute</h3>
        <p>
            TODO: Explain how other users and developers can contribute to make your code better.
        </p>
        <br />
        <p>
            If you want to learn more about creating good readme files then refer the following <i>[guidelines]</i> (<a href="https://www.visualstudio.com/en-us/docs/git/create-a-readme">link</a> to doc.microsoft). You can also seek inspiration from the below readme files:
        </p>
        <ul>
            <li>[<a href="https://www.visualstudio.com/en-us/docs/git/create-a-readme"><i>ASP.NET Core</i></a>]</li>
            <li>[<a href="https://github.com/Microsoft/vscode"><i>Visual Studio Code</i></a>]</li>
            <li>[<a href="https://github.com/Microsoft/ChakraCore"><i>Chakra Core</i></a>]</li>
        </ul>
    </div>
</body>
</html>